@font-face {
  font-family: 'NanumMyeongjo';
  src:
    url('/fonts/NanumMyeongjo-Regular.woff2') format('woff2'),
    url('/fonts/NanumMyeongjo-Regular.woff') format('woff'),
    url('/fonts/NanumMyeongjo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumMyeongjo';
  src:
    url('/fonts/NanumMyeongjo-Bold.woff2') format('woff2'),
    url('/fonts/NanumMyeongjo-Bold.woff') format('woff'),
    url('/fonts/NanumMyeongjo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumMyeongjo';
  src:
    url('/fonts/NanumMyeongjo-ExtraBold.woff2') format('woff2'),
    url('/fonts/NanumMyeongjo-ExtraBold.woff') format('woff'),
    url('/fonts/NanumMyeongjo-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant SC';
  src:
    url('/fonts/CormorantSC-Regular.woff2') format('woff2'),
    url('/fonts/CormorantSC-Regular.woff') format('woff'),
    url('/fonts/CormorantSC-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
